<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style type="text/css">
input {border: 1px green;
background-color: white; //Color del fondo
color: black; //Color de letra
font-family: "Verdana, Arial"; //Tipo de letra
font-size: 20px;} //Medida de letra
</style>

    <title>TEACHING TOUR</title>
</head>
<body>
<div class="container center-align">


<h3 class="center-align red lighten-3">TEACHING TOUR</h3>
<table class = "bordered highlight responsive-tab">
  <tr class = "teal lighten-2">
    <th> <div class="container center-align">
        <form action="toures">
<input type="submit" value="Soy Guia">
</form>
        </div>
    </th>
    <th>
        <div class="container center-align">
        <form action="toures">
<input type="submit" value="Soy Turista">
</form>
        </div>
    </th>
  </tr>
</table>

</div>
</body>
</html>